.header {
    height: 80px;
    background-color: var(--main-color);
    width: calc(100% - 70px);
    border-radius: 0 0 50px 50px;
    z-index: 9999;
    top: 30px;
    margin: 0 35px;
}

.header .inner-header {
    padding: 5px 20px;
    height: 80px;
}

.header .logo {
    margin: 0 43px;
}

.header .logo img {
    background: white;
    width: 80px;
    height: 59px;
    object-fit: cover;
}

.header .list {}

.header .list li {
    cursor: pointer;
    border: 3px solid transparent;
    padding: 5px 10px;
    position: relative;
}

.header .list li a {
    color: white;
    font-family: system-ui;
    font-size: 19px;
    transition: .3s;
    font-weight: bold;
}

.header .list li:hover a {
    color: #9E9E9E;

}

/* .header .list li .nested-list {
    position: absolute;
    background: var(--background-header-color);
    width: 200px;
    border-radius: 20px 5px 20px 5px;
    padding: 10px;
    left: -35px;
    top: 60px;
    overflow: hidden;
    height: 0;
    transition: .3s;
    max-width: max-content;
    min-width: min-content;
}

.header .list li:hover .nested-list {
    height: 174px; 
height: max-content;
top: 50px;
}

*/
/* .header .list li:hover .nested-list li .nested-nested-list {
    left: -35px;
    top: 60px;
    overflow: hidden;
    height: 0;
}

.header .list li:hover .nested-list li:hover .nested-nested-list {
    height: max-content;
}

.header .list li .nested-list li:hover {
    animation: animate 1s ease-in 1;
}

.header .list li .nested-list li .nested-nested-list li:hover {
    animation: animate 1s ease-in 1;
}

.header .list .nested-list li:hover {} */

.header .list li .nested-list li a {}

.header .donate {
    background-color: yellowgreen;
}

@keyframes animate {
    from {
        border-bottom: 3px solid var(--main-color);
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 3px solid transparent;
    }

    25% {
        border-bottom: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 3px solid transparent;
        border-left: 3px solid var(--secondary-color);
    }

    50% {
        border-bottom: 3px solid transparent;
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;
        border-top: 3px solid var(--main-color);
    }

    75% {
        border-bottom: 3px solid transparent;
        border-left: 3px solid transparent;
        border-top: 3px solid transparent;
        border-right: 3px solid var(--secondary-color);
    }

    100% {
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 3px solid transparent;
        border-bottom: 3px solid var(--main-color);
    }
}

.side-bar-header {
    display: none;
}

.sidebar-icon {
    display: none;
}

.sidebar-icon svg {
    color: white;
    width: 40px;
    height: 40px;
}

@media (max-width: 1120px) {
    .header {
        border-radius: 0;
    }

    .header .inner-header {
        justify-content: space-between;
    }

    .sidebar-icon {
        display: block;
    }

    .inner-header .list {
        display: none;
    }

    .side-bar-header {
        position: absolute;
        width: 100%;
        transition: .3s;
        display: block;
        z-index: -3;
    }

    .side-bar-header .list {
        flex-direction: column;
        text-align: end;
        background-color: var(--main-color);
        padding: 10px 52px;
        border-radius: 0;
        gap: 13px;
    }

    .header .list li a {
        font-size: 16px;
    }
}

@media (max-width: 1280px) {
    .header .list li a {
        font-size: 16px !important;
    }
}

@media (max-width: 768px) {
    .header {
        width: 80%;
        height: 55px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    .header .logo {
        margin: 0 25px;
    }

    .header .logo img {
        width: 58px;
        height: 42px;
    }

    .header .inner-header {
        padding: 5px 15px;
        height: 55px;
    }
}